<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreAudio" version="1.40.0" targetFramework="net48" />
  <package id="Jabra.DeviceConnector.Linux" version="2.1.5" targetFramework="net48" />
  <package id="Jabra.DeviceConnector.Macos" version="2.1.4" targetFramework="net48" />
  <package id="Jabra.DeviceConnector.Windows" version="2.3.3" targetFramework="net48" />
  <package id="Jabra.NET.Sdk" version="4.9.2.1" targetFramework="net48" />
  <package id="Jabra.NET.Sdk.DeviceConnector.Protocol" version="1.5.0" targetFramework="net48" />
  <package id="Jabra.NET.Sdk.GnProtocol" version="1.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.5" targetFramework="net48" />
  <package id="NuGet.Versioning" version="6.14.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.6" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.6" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.6" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>